* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  border: none;
}

button:hover {
  background: #eaeaea;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  padding: 8px;
  outline: none;
  font-size: 16px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
}
